/SampleWebApp/target/
/BookStoreApp/build/
/BookStoreApp/dist/
/BookStoreApp/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/FilterApp/target/
/SampleJSPApp/target/
/MyJSTLApp/target/
/EJBApp/target/
/TestStates/target/
/LogicModule/target/
/EJBWebClient/target/
/DockerWebApp/target/
/MessagingModule/nbproject/private/
/MessagingModule/build/
/MessagingModule/dist/
/MessageClient/target/
/RecieverModule/nbproject/private/
/EJBRecieverModule/nbproject/private/
/EJBRecieverModule/build/
/EJBRecieverModule/dist/
/SendRecieveApp/target/
/SingletonApp/target/
/PublishingApp/target/
/RestApp/target/
/JSFApp/target/
